interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://understat.com/match/29088
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n    <head>\n\t\t<base href=\"https://understat.com/\">\n\t\t<title>Manchester
        United 1 - 2 Leeds (April 13 2026) | EPL | 2025/2026 | xG | Understat.com</title>\n
        \       <meta charset=\"UTF-8\" />\n\t\t<meta name=\"description\" content=\"Manchester
        United 1 - 2 Leeds. Check out detailed player statistic, goals, assists, key
        passes, xG, shot map, xGplot.\">\n\t\t<meta name=\"Keywords\" content=\"Manchester
        United, Leeds, EPL, 2025/2026, (April 13 2026), xG, expected goals, shot map\">\n\t\t<meta
        name=\"viewport\" user-scalable=\"no\" content=\"width=device-width, maximum-scale=1,
        initial-scale=1\">\n\t\t<script src=\"https://sdk.adlook.tech/inventory/core.js\"
        async type=\"text/javascript\"></script>\n\t\t\t<link rel=\"apple-touch-icon\"
        sizes=\"180x180\" href=\"apple-touch-icon.png\">\n\t<link rel=\"icon\" type=\"image/png\"
        sizes=\"32x32\" href=\"favicon-32x32.png\">\n\t<link rel=\"icon\" type=\"image/png\"
        sizes=\"16x16\" href=\"favicon-16x16.png\">\n\t<link rel=\"manifest\" href=\"manifest.json\">\n\t<link
        rel=\"mask-icon\" href=\"safari-pinned-tab.svg\" color=\"#5bbad5\">\n\t<meta
        name=\"apple-mobile-web-app-title\" content=\"understat\">\n\t<meta name=\"application-name\"
        content=\"understat\">\n\t<meta name=\"theme-color\" content=\"#ffffff\">\n\t<meta
        http-equiv=\"cache-control\" content=\"no-cache\">\n\t<meta http-equiv=\"expires\"
        content=\"0\">\n\t<link href=\"css/main.min.css?t=1765221332\" rel=\"stylesheet\"
        media=\"screen\">\n    </head>\n    <body class=\"theme-dark\">\n\t\t<script>\n\t\t\tvar
        THEME = localStorage.getItem(\"theme\") || 'DARK';\n\t\t\tdocument.body.className
        = \"theme-\" + THEME.toLowerCase();\n\t\t</script>\n        \t<div class=\"wrapper\">\n\t\t\t\t<header
        id=\"header\" class=\"clearfix\">\n\t\t\t<div class=\"header-wrapper\">\n\t\t\t\t\t<span
        class=\"block-match-result\">\n\t\t<h1>\n\t\t\t<a href=\"https://understat.com/team/Manchester_United/2025\">Manchester
        United</a> 1 - 2<a href=\"https://understat.com/team/Leeds/2025\">Leeds</a>\n\t\t</h1>\n\t</span>\n\t\t\t\t<nav
        class=\"m-navigation-main\">\n\t\t\t\t\t<input class=\"toggle\" id=\"toggle\"
        type=\"checkbox\">\n\t\t\t\t\t<label class=\"toggle\" for=\"toggle\">\n\t\t\t\t\t\t<div
        class=\"line-wrap\">\n\t\t\t\t\t\t\t<div class=\"line top\"></div>\n\t\t\t\t\t\t\t<div
        class=\"line center\"></div>\n\t\t\t\t\t\t\t<div class=\"line bottom\"></div>\n\t\t\t\t\t\t</div>\n\t\t\t\t\t</label>\n\t\t\t\t\t<ul
        class=\"h-inner\">\n\t\t\t\t\t\t<li class=\"player-search\">\n\t\t\t\t\t\t\t<input
        name=\"player-search\" class=\"typeahead\" type=\"search\" placeholder=\"Find
        player by name\" />\n\t\t\t\t\t\t\t<span class=\"icon\"><i class=\"fa fa-search\"></i></span>\n\t\t\t\t\t\t\t<!--\n\t\t\t\t\t\t\t<div
        class=\"li-container\">\n\t\t\t\t\t\t\t\t<div class=\"li-inner\">\n\t\t\t\t\t\t\t\t\t<input
        class=\"typeahead\" type=\"search\" placeholder=\"Find player by name\" />\n\t\t\t\t\t\t\t\t\t<span
        class=\"icon\"><i class=\"fa fa-search\"></i></span>\n\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t-->\n\t\t\t\t\t\t</li>\n\t\t\t\t\t\t<li>\n\t\t\t\t\t\t\t<a
        href=\"\" [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://understat.com/getMatchData/29088
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n\t<head>\n\t\t<link href=\"/css/errors.css\"
        rel=\"stylesheet\" media=\"screen\">\n\t\t<meta charset=\"utf-8\">\n\t\t<meta
        name=\"viewport\" content=\"width=device-width,maximum-scale=1.0,initial-scale=1.0\">\n\t\t<title>404
        Page Not Found</title>\n\t</head>\n\t<body class=\"theme-dark\">\n\t\t<div
        id=\"image-container\" class=\"shirt-container\">\n\t\t\t<span class=\"error-code\">404</span>\n\t\t\t\t\t\t<p>not
        found</p>\n\t\t\t<div class=\"shirt\"></div>\n\t\t</div>\n\t</body>\n</html>"
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    status:
      code: 404
      message: Not Found
version: 1
