interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://understat.com/league/EPL/2025
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n    <head>\n\t\t<base href=\"https://understat.com/\">\n\t\t<title>EPL
        xG Table and Scorers for the 2025/2026 season | Understat.com</title>\n        <meta
        charset=\"UTF-8\" />\n\t\t<meta name=\"description\" content=\"xG table of
        EPL standings and top scorers for the 2025/2026 season, also tables from past
        seasons and other European football leagues.\">\n\t\t<meta name=\"Keywords\"
        content=\"EPL, xg table,scorers, expected goals table, season 2025/2026\">\n\t\t<meta
        name=\"viewport\" user-scalable=\"no\" content=\"width=device-width, maximum-scale=1,
        initial-scale=1\">\n\t\t<script src=\"https://sdk.adlook.tech/inventory/core.js\"
        async type=\"text/javascript\"></script>\n\t\t\t<link rel=\"apple-touch-icon\"
        sizes=\"180x180\" href=\"apple-touch-icon.png\">\n\t<link rel=\"icon\" type=\"image/png\"
        sizes=\"32x32\" href=\"favicon-32x32.png\">\n\t<link rel=\"icon\" type=\"image/png\"
        sizes=\"16x16\" href=\"favicon-16x16.png\">\n\t<link rel=\"manifest\" href=\"manifest.json\">\n\t<link
        rel=\"mask-icon\" href=\"safari-pinned-tab.svg\" color=\"#5bbad5\">\n\t<meta
        name=\"apple-mobile-web-app-title\" content=\"understat\">\n\t<meta name=\"application-name\"
        content=\"understat\">\n\t<meta name=\"theme-color\" content=\"#ffffff\">\n\t<meta
        http-equiv=\"cache-control\" content=\"no-cache\">\n\t<meta http-equiv=\"expires\"
        content=\"0\">\n\t<link href=\"css/main.min.css?t=1765221332\" rel=\"stylesheet\"
        media=\"screen\">\n    </head>\n    <body class=\"theme-dark\">\n\t\t<script>\n\t\t\tvar
        THEME = localStorage.getItem(\"theme\") || 'DARK';\n\t\t\tdocument.body.className
        = \"theme-\" + THEME.toLowerCase();\n\t\t</script>\n        \t<div class=\"wrapper\">\n\t\t\t\t<header
        id=\"header\" class=\"clearfix\">\n\t\t\t<div class=\"header-wrapper\">\n\t\t\t\t<select
        name=\"league\" data-search=\"true\" data-height=\"400\">\n\t\t\t<option value=\"EPL\"
        \ selected >EPL</option>\n\t\t\t<option value=\"La liga\" >La liga</option>\n\t\t\t<option
        value=\"Bundesliga\" >Bundesliga</option>\n\t\t\t<option value=\"Serie A\"
        >Serie A</option>\n\t\t\t<option value=\"Ligue 1\" >Ligue 1</option>\n\t\t\t<option
        value=\"RFPL\" >RFPL</option>\n\t</select>\n<select name=\"season\" data-redirect=\"league\"
        data-height=\"400\">\n\t\t\t<option value=\"2025\"  selected >2025/2026</option>\n\t\t\t<option
        value=\"2024\" >2024/2025</option>\n\t\t\t<option value=\"2023\" >2023/2024</option>\n\t\t\t<option
        value=\"2022\" >2022/2023</option>\n\t\t\t<option value=\"2021\" >2021/2022</option>\n\t\t\t<option
        value=\"2020\" >2020/2021</option>\n\t\t\t<option value=\"2019\" >2019/2020</option>\n\t\t\t<option
        value=\"2018\" >2018/2019</option>\n\t\t\t<option value=\"2017\" >2017/2018</option>\n\t\t\t<option
        value=\"2016\" >2016/2017</option>\n\t\t\t<option value=\"2015\" >2015/2016</option>\n\t\t\t<option
        value=\"2014\" >2014/2015</option>\n\t</select>\n\t\t\t\t<nav class=\"m-navigation-main\">\n\t\t\t\t\t<input
        class=\"toggle\" id=\"toggle\" type=\"checkbox\">\n\t\t\t\t\t<label class=\"toggle\"
        for=\"toggle\">\n\t\t\t\t\t\t<div class=\"line-wrap\">\n\t\t\t\t\t\t\t<div
        class=\"line top\"></div>\n\t\t\t\t\t\t\t<div class=\"line center\"></div>\n\t\t\t\t\t\t\t<div
        class=\"line bottom\"></div>\n\t\t\t\t\t\t</div>\n\t\t\t\t\t</label>\n\t\t\t\t\t<ul
        class=\"h-inner\">\n\t\t\t\t\t\t<li class=\"player-search\">\n\t\t\t\t\t\t\t<input
        name=\"player-search\" class=\"typeahead\" type=\"search\" placeholder=\"Find
        player by name\" />\n\t\t\t\t\t\t\t<span class=\"icon\"><i class=\"fa fa-search\"></i></span>\n\t\t\t\t\t\t\t<!--\n\t\t\t\t\t\t\t<div
        class=\"li-container\">\n\t\t\t\t\t\t\t\t<div class=\"li-inner\">\n\t\t\t\t\t\t\t\t\t<input
        class=\"typeahead\" type=\"search\" placeholder=\"Find player by name\" />\n\t\t\t\t\t\t\t\t\t<span
        class=\"icon\"><i class=\"fa fa-search\"></i></span>\n\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t-->\n\t\t\t\t\t\t</li>\n\t\t\t\t\t\t<li>\n\t\t\t\t\t\t\t<a
        href=\"\" [...]
- request:
    body: null
    headers:
      X-Requested-With:
      - XMLHttpRequest
    method: GET
    uri: https://understat.com/getLeagueData/EPL/2025
  response:
    body:
      string: '{"teams":{"71":{"id":"71","title":"Aston Villa","history":[{"h_a":"h","xG":0.318601,"xGA":1.40098,"npxG":0.318601,"npxGA":1.40098,"ppda":{"att":227,"def":12},"ppda_allowed":{"att":146,"def":24},"deep":2,"deep_allowed":6,"scored":0,"missed":0,"xpts":0.42579999999999996,"result":"d","date":"2025-08-16
        11:30:00","wins":0,"draws":1,"loses":0,"pts":1,"npxGD":-1.082379},{"h_a":"a","xG":0.976852,"xGA":1.12964,"npxG":0.976852,"npxGA":1.12964,"ppda":{"att":92,"def":17},"ppda_allowed":{"att":302,"def":28},"deep":14,"deep_allowed":2,"scored":0,"missed":1,"xpts":1.1286999999999998,"result":"l","date":"2025-08-23
        14:00:00","wins":0,"draws":0,"loses":1,"pts":0,"npxGD":-0.15278799999999992},{"h_a":"h","xG":1.20586,"xGA":2.59713,"npxG":1.20586,"npxGA":1.83596,"ppda":{"att":222,"def":21},"ppda_allowed":{"att":288,"def":15},"deep":6,"deep_allowed":5,"sco[...]
