interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://understat.com/match/29088
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n    <head>\n\t\t<base href=\"https://understat.com/\">\n\t\t<title>Manchester
        United 1 - 2 Leeds (April 13 2026) | EPL | 2025/2026 | xG | Understat.com</title>\n
        \       <meta charset=\"UTF-8\" />\n\t\t<meta name=\"description\" content=\"Manchester
        United 1 - 2 Leeds. Check out detailed player statistic, goals, assists, key
        passes, xG, shot map, xGplot.\">\n\t\t<meta name=\"Keywords\" content=\"Manchester
        United, Leeds, EPL, 2025/2026, (April 13 2026), xG, expected goals, shot map\">\n\t\t<meta
        name=\"viewport\" user-scalable=\"no\" content=\"width=device-width, maximum-scale=1,
        initial-scale=1\">\n\t\t<script src=\"https://sdk.adlook.tech/inventory/core.js\"
        async type=\"text/javascript\"></script>\n\t\t\t<link rel=\"apple-touch-icon\"
        sizes=\"180x180\" href=\"apple-touch-icon.png\">\n\t<link rel=\"icon\" type=\"image/png\"
        sizes=\"32x32\" href=\"favicon-32x32.png\">\n\t<link rel=\"icon\" type=\"image/png\"
        sizes=\"16x16\" href=\"favicon-16x16.png\">\n\t<link rel=\"manifest\" href=\"manifest.json\">\n\t<link
        rel=\"mask-icon\" href=\"safari-pinned-tab.svg\" color=\"#5bbad5\">\n\t<meta
        name=\"apple-mobile-web-app-title\" content=\"understat\">\n\t<meta name=\"application-name\"
        content=\"understat\">\n\t<meta name=\"theme-color\" content=\"#ffffff\">\n\t<meta
        http-equiv=\"cache-control\" content=\"no-cache\">\n\t<meta http-equiv=\"expires\"
        content=\"0\">\n\t<link href=\"css/main.min.css?t=1765221332\" rel=\"stylesheet\"
        media=\"screen\">\n    </head>\n    <body class=\"theme-dark\">\n\t\t<script>\n\t\t\tvar
        THEME = localStorage.getItem(\"theme\") || 'DARK';\n\t\t\tdocument.body.className
        = \"theme-\" + THEME.toLowerCase();\n\t\t</script>\n        \t<div class=\"wrapper\">\n\t\t\t\t<header
        id=\"header\" class=\"clearfix\">\n\t\t\t<div class=\"header-wrapper\">\n\t\t\t\t\t<span
        class=\"block-match-result\">\n\t\t<h1>\n\t\t\t<a href=\"https://understat.com/team/Manchester_United/2025\">Manchester
        United</a> 1 - 2<a href=\"https://understat.com/team/Leeds/2025\">Leeds</a>\n\t\t</h1>\n\t</span>\n\t\t\t\t<nav
        class=\"m-navigation-main\">\n\t\t\t\t\t<input class=\"toggle\" id=\"toggle\"
        type=\"checkbox\">\n\t\t\t\t\t<label class=\"toggle\" for=\"toggle\">\n\t\t\t\t\t\t<div
        class=\"line-wrap\">\n\t\t\t\t\t\t\t<div class=\"line top\"></div>\n\t\t\t\t\t\t\t<div
        class=\"line center\"></div>\n\t\t\t\t\t\t\t<div class=\"line bottom\"></div>\n\t\t\t\t\t\t</div>\n\t\t\t\t\t</label>\n\t\t\t\t\t<ul
        class=\"h-inner\">\n\t\t\t\t\t\t<li class=\"player-search\">\n\t\t\t\t\t\t\t<input
        name=\"player-search\" class=\"typeahead\" type=\"search\" placeholder=\"Find
        player by name\" />\n\t\t\t\t\t\t\t<span class=\"icon\"><i class=\"fa fa-search\"></i></span>\n\t\t\t\t\t\t\t<!--\n\t\t\t\t\t\t\t<div
        class=\"li-container\">\n\t\t\t\t\t\t\t\t<div class=\"li-inner\">\n\t\t\t\t\t\t\t\t\t<input
        class=\"typeahead\" type=\"search\" placeholder=\"Find player by name\" />\n\t\t\t\t\t\t\t\t\t<span
        class=\"icon\"><i class=\"fa fa-search\"></i></span>\n\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t-->\n\t\t\t\t\t\t</li>\n\t\t\t\t\t\t<li>\n\t\t\t\t\t\t\t<a
        href=\"\" [...]
- request:
    body: null
    headers:
      X-Requested-With:
      - XMLHttpRequest
    method: GET
    uri: https://understat.com/getMatchData/29088
  response:
    body:
      string: '{"rosters":{"h":{"782798":{"id":"782798","goals":"0","own_goals":"0","shots":"0","xG":"0","time":"90","player_id":"14056","team_id":"89","position":"GK","player":"Senne
        Lammens","h_a":"h","yellow_card":"0","red_card":"0","roster_in":"0","roster_out":"0","key_passes":"0","assists":"0","xA":"0","xGChain":"0.017660638317465782","xGBuildup":"0.017660638317465782","positionOrder":"1"},"782799":{"id":"782799","goals":"0","own_goals":"0","shots":"1","xG":"0.028316142037510872","time":"72","player_id":"10696","team_id":"89","position":"DR","player":"Noussair
        Mazraoui","h_a":"h","yellow_card":"0","red_card":"0","roster_in":"782810","roster_out":"0","key_passes":"0","assists":"0","xA":"0","xGChain":"0","xGBuildup":"0","positionOrder":"2"},"782801":{"id":"782801","goals":"0","own_goals":"0","shots":"2","xG":"0.14131054282188416","time":"90","player_id":"10564","team_id[...]
