interactions:
- request:
    body: null
    headers:
      X-Requested-With:
      - XMLHttpRequest
    method: GET
    uri: https://www.premierinjuries.com/injury-table.php
  response:
    body:
      string: "<!doctype html>\n<html lang=\"en-GB\" prefix=\"og: https://ogp.me/ns#\">\n<head>\n\t<meta
        charset=\"UTF-8\">\n\t<meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1\">\n\t<link rel=\"profile\" href=\"https://gmpg.org/xfn/11\">\n\t\n<script
        async src=\"https://cdn.fuseplatform.net/publift/tags/2/3524/fuse.js\"></script>\n\n\n<!--
        Search Engine Optimization by Rank Math - https://rankmath.com/ -->\n<title>EPL
        Injury Table - Premier Injuries</title>\n<meta name=\"description\" content=\"The
        latest player injuries, suspensions and absences in the English Premier League,
        from the most comprehensive source of football injury statistics.\"/>\n<meta
        name=\"robots\" content=\"follow, index, max-snippet:-1, max-video-preview:-1,
        max-image-preview:large\"/>\n<link rel=\"canonical\" href=\"https://www.premierinjuries.com/injury-table.php\"
        />\n<meta property=\"og:locale\" content=\"en_GB\" />\n<meta property=\"og:type\"
        content=\"article\" />\n<meta property=\"og:title\" content=\"EPL Injury Table
        - Premier Injuries\" />\n<meta property=\"og:description\" content=\"The latest
        player injuries, suspensions and absences in the English Premier League, from
        the most comprehensive source of football injury[...]
