interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://understat.com/
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n    <head>\n\t\t<base href=\"https://understat.com/\">\n\t\t<title>
        xG stats for teams and players from the TOP European leagues </title>\n        <meta
        charset=\"UTF-8\" />\n\t\t<meta name=\"description\" content=\"On this site,
        you will find the detailed Expected Goals statistic for teams and players
        from the English Premier League, La Liga, Bundesliga, Serie A and etc.\">\n\t\t<meta
        name=\"Keywords\" content=\"xG, expected goals, advanced football stats, epl,
        premier league, serie a, la liga, bundesliga\">\n\t\t<meta name=\"viewport\"
        user-scalable=\"no\" content=\"width=device-width, maximum-scale=1, initial-scale=1\">\n\t\t<script
        src=\"https://sdk.adlook.tech/inventory/core.js\" async type=\"text/javascript\"></script>\n\t\t\t<link
        rel=\"apple-touch-icon\" sizes=\"180x180\" href=\"apple-touch-icon.png\">\n\t<link
        rel=\"icon\" type=\"image/png\" sizes=\"32x32\" href=\"favicon-32x32.png\">\n\t<link
        rel=\"icon\" type=\"image/png\" sizes=\"16x16\" href=\"favicon-16x16.png\">\n\t<link
        rel=\"manifest\" href=\"manifest.json\">\n\t<link rel=\"mask-icon\" href=\"safari-pinned-tab.svg\"
        color=\"#5bbad5\">\n\t<meta name=\"apple-mobile-web-app-title\" content=\"understat\">\n\t<meta
        name=\"application-name\" content=\"understat\">\n\t<meta name=\"theme-color\"
        content=\"#ffffff\">\n\t<meta http-equiv=\"cache-control\" content=\"no-cache\">\n\t<meta
        http-equiv=\"expires\" content=\"0\">\n\t<link href=\"css/main.min.css?t=1765221332\"
        rel=\"stylesheet\" media=\"screen\">\n    </head>\n    <body class=\"theme-dark\">\n\t\t<script>\n\t\t\tvar
        THEME = localStorage.getItem(\"theme\") || 'DARK';\n\t\t\tdocument.body.className
        = \"theme-\" + THEME.toLowerCase();\n\t\t</script>\n        \t<div class=\"wrapper\">\n\t\t\t\t<header
        id=\"header\" class=\"clearfix\">\n\t\t\t<div class=\"header-wrapper\">\n\t\t\t\t\t\t\t\t<nav
        class=\"m-navigation\">\n\t\t\t\t\t<ul class=\"h-inner\">\n\t\t\t\t\t\t\t\t\t\t\t\t<li>\n\t\t\t\t\t\t\t<a
        class=\"link\" href=\"league/EPL\">EPL</a>\n\t\t\t\t\t\t</li>\n\t\t\t\t\t\t\t\t\t\t\t\t<li>\n\t\t\t\t\t\t\t<a
        class=\"link\" href=\"league/La_liga\">La liga</a>\n\t\t\t\t\t\t</li>\n\t\t\t\t\t\t\t\t\t\t\t\t<li>\n\t\t\t\t\t\t\t<a
        class=\"link\" href=\"league/Bundesliga\">Bundesliga</a>\n\t\t\t\t\t\t</li>\n\t\t\t\t\t\t\t\t\t\t\t\t<li>\n\t\t\t\t\t\t\t<a
        class=\"link\" href=\"league/Serie_A\">Serie A</a>\n\t\t\t\t\t\t</li>\n\t\t\t\t\t\t\t\t\t\t\t\t<li>\n\t\t\t\t\t\t\t<a
        class=\"link\" href=\"league/Ligue_1\">Ligue 1</a>\n\t\t\t\t\t\t</li>\n\t\t\t\t\t\t\t\t\t\t\t\t<li>\n\t\t\t\t\t\t\t<a
        class=\"link\" href=\"league/RFPL\">RFPL</a>\n\t\t\t\t\t\t</li>\n\t\t\t\t\t\t\t\t\t\t\t\t<li
        class=\"menu-expand is-hide\">\n\t\t\t\t\t\t\t<ul></ul>\n\t\t\t\t\t\t</li>\n\t\t\t\t\t</ul>\n\t\t\t\t</nav>\n\t\t\t\t\t\t\t\t<nav
        class=\"m-navigation-main\">\n\t\t\t\t\t<input class=\"toggle\" id=\"toggle\"
        type=\"checkbox\">\n\t\t\t\t\t<label class=\"toggle\" for=\"toggle\">\n\t\t\t\t\t\t<div
        class=\"line-wrap\">\n\t\t\t\t\t\t\t<div class=\"line top\"></div>\n\t\t\t\t\t\t\t<div
        class=\"line center\"></div>\n\t\t\t\t\t\t\t<div class=\"line bottom\"></div>\n\t\t\t\t\t\t</div>\n\t\t\t\t\t</label>\n\t\t\t\t\t<ul
        class=\"h-inner\">\n\t\t\t\t\t\t<li class=\"player-search\">\n\t\t\t\t\t\t\t<input
        name=\"player-search\" class=\"typeahead\" type=\"search\" placeholder=\"Find
        player by name\" />\n\t\t\t\t\t\t\t<span class=\"icon\"><i class=\"fa fa-search\"></i></span>\n\t\t\t\t\t\t\t<!--\n\t\t\t\t\t\t\t<div
        class=\"li-container\">\n\t\t\t\t\t\t\t\t<div class=\"li-inner\">\n\t\t\t\t\t\t\t\t\t<input
        class=\"typeahead\" type=\"search\" placeholder=\"Find player by name\" />\n\t\t\t\t\t\t\t\t\t<span
        class=\"icon\"><i class=\"fa fa-search\"></i></span>\n\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t-->\n\t\t\t\t\t\t</li>\n\t\t\t\t\t\t<li>\n\t\t\t\t\t\t\t<a
        href=\"\" [...]
- request:
    body: null
    headers:
      X-Requested-With:
      - XMLHttpRequest
    method: GET
    uri: https://understat.com/
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n    <head>\n\t\t<base href=\"https://understat.com/\">\n\t\t<title>
        xG stats for teams and players from the TOP European leagues </title>\n        <meta
        charset=\"UTF-8\" />\n\t\t<meta name=\"description\" content=\"On this site,
        you will find the detailed Expected Goals statistic for teams and players
        from the English P[...]
